*{
    margin:0px;
    padding:0px;
}
body{
    font-size:30px;
    margin:1px;
    padding:5px;
    background-color: rgba(120, 192, 223, 0.378);
}
.header{
    width:100%;
    height:10vh;
    border:2px solid rgb(49, 56, 46);
    justify-content: center;
    align-items:center;
    position:relative;
    background-color:rgb(0, 0, 158);
}
.logo{
    margin-top:1px;
    margin-left:4px;
    position:absolute;
    height:100%;
}
.title{
    margin-top:5px;
    text-align:center;
    color:rgb(255, 0, 0);
}
h1{
    color:gold;
}
.container{
    border:2px solid rgb(54, 60, 66);
    width:100%;
    height:80vh;
    background-color:rgba(113, 102, 102, 0.405);
}

.footer{
    height:20vh;
    width:100%;
    border:2px solid rgb(54, 60, 66);
    background-color: #2c3235;
}

.box{
    width:75%;
    height:60%;
    margin:10vh 10vw;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    justify-content:space-around;
}
p{
    display:inline-block;
}

#one{
    padding:5px;
    border-radius:10px;
    border:none;
}
#one:hover{
    color:#0088e9;
    background-color: #414a4f;
    cursor: pointer;
}